html{text-align: center;
     font-family: helvetica;}

.top{background-image: url(./images/the-flatiron-building.png);}

h1{font-size: 70px;
   font-weight: bold;
   color: white;}

.top p{
   font-size: 18px;
   color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight:bold;
}
p{
  font-size: 14px;
}
#newyork{
  background-image: url(./images/the-flatiron-building.png);
  font-size: 23px;
  font-weight: bold;
  color: white;
}
